<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text Analyzer</title>
</head>

<body>
<header class="top-nav">
  <div class="logo-container">
      <img src="assets/logo.png" alt="Logo" class="logo">
  </div>
  <nav class="navigation">
    <div class="nav-buttons">
      <button class="search-button">Search</button>
      <button class="menu-button">Menu</button>
    </div>
  </nav>
</header>
<div class="content-area clearfix">
  <div class="text-analyzer-container">

    <app-toggle-switch (toggleChange)="handleToggle($event)"></app-toggle-switch>

    <h1 class="title">Text Analyzer Tool by Mira Schaar</h1>
    <p class="description">
      This tool is counting either vowels or consonants. Please enter your text, choose "vowels" or "consonants" or
      "both"
      and press the submit button.
    </p>

    <textarea id="text-input" class="text-input" [(ngModel)]="text" rows="6"
              placeholder="Please write or paste the text you would like to analyse here."></textarea>

    <!-- Selection for Analysis Type -->
    <div class="analysis-type-selector">
      <label for="analysis-type">Choose analysis type:</label>
      <select id="analysis-type" class="analysis-select" [(ngModel)]="analysisType">
        <option value="vowels">Vowels</option>
        <option value="consonants">Consonants</option>
        <option value="both">Both</option>
      </select>
    </div>
    <div></div>
    <button class="analyze-button" (click)="analyzeText()">Submit</button>
  </div>

  <div class="sidebar">
    <a class="card">
      <h3>Typo Analyzer</h3>
      <p class="description">
        The Typo Analyzer checks text for spelling mistakes, misplaced punctuation, and incorrect grammar...</p>
    </a>
    <a class="card">
      <h3>Picture Analyzer</h3>
      <p class="description">The Picture Analyzer uses algorithms to evaluate and understand the contents of an image.
        It detects and identifies objects, text...</p>
    </a>
    <a class="card">
      <h3>Data Analyzer</h3>
      <p class="description">The Data Analyzer processes datasets to uncover trends, patterns....</p>
    </a>
  </div>
</div>

</body>
</html>

<header class="top-nav">

</header>


