/* Navigationbar styles */
.top-nav {
  background-color: #0056b3;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container .logo {
  height: 50px; /* Adjust as needed */
}

.navigation .nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation .nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-icons {
  display: flex;
}

.nav-icons button {
  margin-left: 10px;
}


/* Main Content styles */
/* Text Analyzer styles */
.content-area {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  height: 80vh;
}
.text-analyzer-container {

  max-width: 70%;
  padding: 2rem;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: grid;
  flex: 1;
  margin-right: 2rem;
  overflow: auto;
}

.title, .subtitle {
  color: #333;
  text-align: center;
}

.description, .info {
  color: #666;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1rem;
}

.input-label {
  display: block;
  margin-bottom: 0.5rem;
}

.text-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
  transition: box-shadow 0.3s ease-in-out; /* Optional: Adds a smooth transition effect */
}

.text-input:focus {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Larger shadow for when the input is focused */
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Add ons like Buttons, ToggleSwitch styles */

.analyze-button {
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  background-color: #0056b3;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-block; /* Change to inline-block if you don't want full width */
  margin-left: auto; /* Align to the right */
  width: 20%; /* Button width as per your requirement */
}

.analyze-button:hover {
  background-color: #003d82;
}

/* styles for the selection part */
.analysis-type-selector {
  margin: 1rem 0;
}

.analysis-select {
  padding: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}


/* Sidebar styles */
.sidebar {
  float: right;
  width: 30%;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: grid;
  overflow: auto;
}

.card {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 20px;
  text-decoration: none;
  color: black;
  display: block;
}

.card:hover {
  background-color: #e9e9e9;
}

/* Clearfix to handle the floating elements */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
